<!DOCTYPE html>
<html lang="en">
<head>
  <title>VARNA EATS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Meta tags for search engines -->
  <meta name="description" content="Bulgarian national cuisine. Typical Bulgarian food.">
  <meta name="keywords" content="Bulgarian main courses, Bulgarian starter, Bulgarian soups, Bulgarian salads.">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
  <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
</head>
<body>
  <header>
    <div id="head">
      <div id="cover-text">Varna Eats</div>    
    </div>
  </header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand"><img id="chef" src="{{ url_for('static', filename='images/chef_new.png') }}"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="nav-item active"><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="nav-item active"><a href="{{ url_for('menu') }}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="nav-item active"><a href="{{ url_for('contact') }}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
    </nav>
    <div class="container-fluid text-center">    
      <div class="row content">
        <div class="col-sm-2 sidenav">
          <div id="info">
            <strong>Cuisine:</strong> Bulgarian<br />
            <strong>Cost:</strong> $20 - $50<br />
            <strong>Region:</strong> Center<br />
            53 Samsarov Str. <br />
            Varna, VARNA <br />
            9004<br />
            <a href="/maps/44122?id=48736">Map</a> | <a href="/drive/44122?id=48736">Directions</a><br />
            (052) 63-66-74<br />
            <a href="#">Web site</a><br />
          </div>
        </div>
    {% block content %}
        <div class="col-sm-8 text-left"> 
          <h1 class="text">{{ page_title }}</h1>
          <p class="text_thin">Visit, Drink, Eat<br>
            The meals are prepared under the guidance and expertise of Chef Dani, and the restaurant specializes in Bulgarian National cuisine.
            <br> The most emblematic products used in Bulgarian cuisine are white cheese and yogurt.
            <br>Many tribes have lived in these lands and have left their traces in Bulgarian cuisine: Thracians, Greeks, Romans, Ottomans, Proto-Bulgarians, Slavs, Ost-Goths, etc.
            <br>Basic condiments used are red pepper, black pepper, dill, parsley, allspice, and savory. Our cuisine is influenced by Greek and Turkish cuisine but has strong similarities with Eastern European cuisine, like all kinds of fresh and dry sausages. Pork is the most eaten meat, followed by chicken. Lamb food is traditional in our cuisine but is mostly eaten in springtime.
          </p>
          <hr>
          <h3><!--Test--></h3>
          <p id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.898876363383!2d27.920999799999997!3d43.21161029999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a4540c568d0f03%3A0xe63faf9275c6b20d!2z0JLQsNGA0L3QsCDQptC10L3RgtGK0YDQn9GA0LjQvNC-0YDRgdC60LgsINGD0LsuIOKAntCY0LLQsNC9INCQ0LrRgdCw0LrQvtCy4oCcIDMxLCA5MDAyINCS0LDRgNC90LAsINCR0YrQu9Cz0LDRgNC40Y8!5e0!3m2!1sbg!2sie!4v1715193808167!5m2!1sbg!2sie" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </p>
        </div>
    {% endblock %}    
  
  
       
        
      
      <div class="col-sm-2 sidenav">
        <div class="well">
          <p>ADS</p>
        </div>
        <div class="well">
          <p>ADS</p>
        </div>
      </div>
    </div>
  </div>

  <footer class="container-fluid text-center">
    <ul id="social-networks">
      <li><a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa fa-facebook-square"></i></a></li>
      <li><a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Visit our Twitter page (opens in a new tab)"><i class="fa fa-twitter-square"></i></a></li>
      <li><a href="https://www.youtube.com/" target="_blank" rel="noopener" aria-label="Visit our YouTube page (opens in a new tab)"><i class="fa fa-youtube-square"></i></a></li>
      <li><a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </footer>
  <hr>
</body>
</html>
